<mat-tab-group>
    <mat-tab label="Displaying Data"> Displaying Data </mat-tab>
    <mat-tab label="Template Syntax"> Template Syntax </mat-tab>
    <mat-tab label="User Input"> User Input </mat-tab>
    <mat-tab label="Lifecycle Hooks"> Lifecycle Hooks </mat-tab>
    <mat-tab label="Component Interaction"> Component Interaction </mat-tab>
    <mat-tab label="Component Styles"> Component Styles </mat-tab>
    <mat-tab label="Dynamic Component Loader"> Dynamic Component Loader </mat-tab>
    <mat-tab label="Angular Elements"> Angular Elements </mat-tab>
    <mat-tab label="Attribute Directives"> Attribute Directives </mat-tab>
    <mat-tab label="Structural Directives"> Structural Directives </mat-tab>
    <mat-tab label="Pipes"> Pipes </mat-tab>
</mat-tab-group>